* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #211832;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border-radius: 25px;
    height: 90vh;
    width: 130vh;
    background-color: rgba(0, 0, 0, 0.76);
    border: 1px #f2591255;
    box-shadow: 1px 2px 40px #f259127b;

}

.heading {
    padding-top: 40px;
    font-size: xx-large;
}

h1 {
    color: #5C3E94;
}

h2 {
    color: #412B6B;
    
}

.addtask {
    margin-top: 80px;
}

#taskinput {
    height: 7vh;
    width: 90vh;
    font-size: 27px;
    border: 1px solid rgba(128, 128, 128, 0.461);
    border-radius: 25px;
    background-color: #080312;
    color: white;
    padding: 20px 20px;
}

#addtaskbtn{
    height: 7vh;
    width: 20vh;
    font-size: 27px;
    margin-left: 20px;
    border-radius: 25px;
    border: none;
    background-color: #5C3E94;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 25px #F25912;
}

#addtaskbtn:hover {
    background-color: #412B6B;
}

#taskinput::placeholder {
    color: #f25912a1;
   

}

.tasklist {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
   
    align-items: flex-start;
    width: 111.5vh;
}

#tasksul {
        font-size: 24px;
        color: white;
        
        overflow-y: auto;
        max-height: 40vh;
        scrollbar-color: #F25912 rgba(0,0,0,0.2); 
        scrollbar-width: thin; 
        scroll-margin-left: 20px;
        padding-right: 12px;
        list-style-position: inside;
        max-width: 100%; 
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    
    justify-content: flex-start;
}

#tasksul li {

    border: 1px solid #f259127b;
    border-radius: 5px;
    list-style-type: none;
    width: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tasksul li::marker {
  content: "■ ";   
  color: #F25912;  
  font-size: 20px; 
}

.delbtn {
    background-color: #F25912;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    height: 20px;
    width: 50px;
    font-size: 14px;
    margin-left: auto; /* push button to the right */
    margin-bottom: 7px;
    text-align: center;
}


.checkTask {
  appearance: none;  
  width: 18px;
  height: 18px;
  border: 2px solid #F25912;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 12px;
  display: grid;
  place-content: center;


  --form-control-color: #F25912;
}

.checkTask::before {
  content: "";
  width: 12px;
  height: 12px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: var(--form-control-color);
  border-radius: 2px;
}

.checkTask:checked::before {
  transform: scale(1);
}

#cat{

    border-radius: 25px;
    box-shadow: 5px 7px 50px #F25912;
}